---
import { Image } from "@astrojs/image/components";
const { post } = Astro.props;
const { title, featImage, featured } = post.frontmatter;
const src = import(`../assets/${featImage.src}.png`);
---

<a href={post.url}>
  <div class="post-card">
    {featured && <div class="featured">featured</div>}
    <figure>
      <Image src={src} alt={featImage.alt} width={420} height={236} />
    </figure>
    <div class="text-content">
      <h3>{title}</h3>
    </div>
  </div>
</a>
<style>
  .post-card {
    transition: all 0.4s ease-in;
    position: relative;
  }

  .post-card:hover {
    background: var(--color-secondary);
  }

  .post-card:hover img {
    transform: scale(1.2);
  }

  .post-card figure {
    max-height: 180px;
    overflow: hidden;
    margin: auto;
  }
  .post-card figure img {
    object-fit: cover;
    object-position: center;
    margin: auto;
    transition: transform 0.4s ease-in;
  }
  .post-card .featured {
    background: var(--color-secondary);
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 4px 16px;
    border-radius: 100px;
    font-family: VHS;
    text-transform: uppercase;
    z-index: 10;
  }
  .post-card .text-content {
    padding: 4px;
  }
</style>
